// Copyright 2021 ETH Zurich and University of Bologna.
// Copyright 2024 F.Marques @ Zero-Day Labs.
// Licensed under the Apache License, Version 2.0, see LICENSE for details.
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "eth,occamy-dev";
  model = "eth,occamy";
  chosen {
    stdout-path = "/soc/uart@10000000:targetbaud";
  };
  memory@80000000 {
    device_type = "memory";
    reg = <0x0 0x80000000 0x0 mem-size>;
  };
  cpus {
    #address-cells = <1>;
    #size-cells = <0>;
    timebase-frequency = <halffreq>;
    target_cpus
  };
  soc: soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "eth,ariane-bare-soc", "simple-bus";
    ranges;
    ariane_peripherals
  };
};
