[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/alsaqr-platform/opensbi.git
[submodule "Splash-3"]
	path = Splash-3
	url = https://github.com/AlSaqr-platform/Splash-3
