[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
	branch = master
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
	branch = master
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/openhwgroup/u-boot/
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/D3boker1/opensbi.git
[submodule "bao-hypervisor"]
	path = bao-hypervisor
	url = https://github.com/D3boker1/bao-hypervisor.git
[submodule "local-linux/linux-6.1-rc4-aia"]
	path = local-linux/linux-6.1-rc4-aia
	url = https://github.com/D3boker1/linux-aia.git
[submodule "bao-baremetal-guest"]
	path = bao-baremetal-guest
	url = https://github.com/D3boker1/bao-baremetal-guest.git
[submodule "opensbi_v2"]
	path = opensbi_v2
	url = git@github.com:AlSaqr-platform/opensbi.git
